<!DOCTYPE html>
<html>
	<head>
	<title>Bienvenue au Blog de Vivien</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<header> 
			<ul class="topnav">
					
				<li class="moncv"> <a href="#"> Compétences</a>  </li>
				<li class="moncv"> <a href="#">  Formations/Diplomes </a></li>
				<li class="moncv"> <a href="#"> Parcours professionnel </a>  </li>
				<li class="right"> <a href="#"> Botivi </a> </li>			
			</ul>

		</header>
		<nav class="header">
			<ul>

					<img src="photoprofil.jpg" alt="photoprofil" height="100px" width="100px" class="right">	
			</ul>
			<ul>
				<li> Noms: 	BOGNE TIENOUE </li>
				<li> Prénom: Vivien </li>
				<li> Addresse email: bognevivien@yahoo.fr</li>
				<li> Adresse actuelle: Cameroun Yaoundé </li>
				<li> Téléphone : +237 696 287 900 </li>
			
			</ul>
			
		</nav>
		<section class="CV">

		<div>
			
			<h1> <span> INGENIEUR ET PROFESSEUR</span>

			</h1>
			<p>je suis un Professeur de physiques formé à l'école normale supérieure de Maroua au Cameroun mais aussi il est un Ingénieur diplomé de l'EAMAC de Niamey au Niger</p>

		</div>

		<div class="Column Compétences">
			<h2 > Mes compétences </h2>
			<ul>
				<li> Disponibilité IMMEDIATE de ma personne pour un travail partout dans le monde : dans un délai d’une semaine après signature du contrat </li> 
				<li> Developpeur Web maitrisant les technologies: <strong> Git ; HTML5 et CSS3 ; Flask ; SQL ; Javascript ; Django </strong></b></li>
			</ul>
		</div>
		<div class="Column Formations">
			<h2> Formations Académiques </h2>
			<table>
				<tr>
					<th> formation </th>
					<th> Année académique </th>
				</tr>
				<tr>
					<td> Diplome de Professeur d'enseignement secondaire 2nd Grade</td>
					<td> De 2017 à 2019 </td>
				</tr>

				<tr>
					<td> Diplome d'ingénieur de l'EAMAC</td>
					<td> De 2013 à 2017 </td>
				</tr>
				<tr>
					<td> Diplome de Professeur d'enseignement secondaire 1er Grade</td>
					<td> De 2008 à 2012 </td>
				</tr>
				<tr>
					<td> Baccalauréat C</td>
					<td> De 2016 à 2017 </td>
				</tr>

			</table>
		</div>
		<div class="Column Professionnel">
			
		</div>	
			<form> 
				<input type="text" placeholder="Votre nom" name="name">
				<button>Me contacter</button>
			</form>
		</div>
					
		</section>


	</body>
</html>